body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 200px;
  --topNavbarHeight: 0px;
}
/* .nav-Link{
  margin-top: 2px !important;
  margin-bottom: 2px;
} */
span:hover{
  color: rgba(255,255,255,0.7);
}
li{
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}
#avk{
  margin-top: 6px !important;
  margin-bottom: 0px !important;
}
/* .up{
  margin-top: 199px !important;
} */
/* .nav-Link{
  margin-top:22px !important;
  margin-bottom:22px !important;
} */
/* #twelve{
  margin-bottom: 8px !important;
} */
.mm{
  margin-left: 200px;
  margin-top: 100px;
}
.btns{
  background-color: white !important;
  color: black;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .necessary{
   background-color: #e3f2fd !important;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    /* top: var(--topNavbarHeight); */
    top: 0px;
  }
}