th{
 background-color: #f8f8f8 !important;
 text-align: left !important;
}
tr{
 background-color: #fdfdfd !important;
}
.texts{
 text-align: left !important;
 margin-left: 135px !important;
 font-weight: lighter;
 font-size: xx-large;
}
.table > tbody > tr > td,
.table > thead > tr > th {
  border: 0px !important
}
.table > tbody > tr 
 {
  border: 2px solid white !important
}
#abc {
  border: 0 !important
}
/* thead {
  border: 1px solid white !important
} */
table{
 border-spacing: 0px !important;
  border-collapse : collapse;
  width: 800px !important;
}
td {
 border-style : hidden!important;
 text-align: left !important;
}