#footer{
 width: 100%;
 padding: 30px 0 30px;
 background: #151f2b; 
 color: honeydew;
 padding-left: 25px;
 
}

.my-row{
 display: flex;
 margin: auto; 
 flex-wrap: wrap;
 align-items: flex-start;
 justify-content: space-between; 
}
.my-col{
 flex-basis: 25%;
 padding: 10px;
 padding-left: 20px;
}
h1{
 margin-top: 0;
 
 margin-bottom: 20px;
}
h4{
 margin-top: 30;
 padding-top: 10;
 margin-bottom: 25px;
}
ul{
 text-align: justify;
 margin-left: 0;
 padding-left: 0;
 /* align-items: flex-start; */
 list-style-type: circle;
}

li{
 list-style: none;
 margin-bottom: 13px;
 /* margin-left: 5px; */
  color: #898989;
}
/* #facebook{
 width: 4opx;
 height: 40px;
} */
a{
 text-decoration: none;
 color: white;
}
.custom{
 display: inline-block;
 width: 6px;
 height: 6px;
  border: #3797dd; 
  /* border-color: white; */ 
 
 background-color: white;
}

.separator {
 background: #0c1218;
    height: 1px;
    position: relative;
    margin-top: 16px;
    margin-bottom: 56px;
    width: 87%;
}
.separator::after {
    content: "";
    background-color: #3797dd;
    top: -1px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 3px;
    position: absolute;
    z-index: 1;
}
#img{
 width: 87px;
 height: 87px;

}
.width{
 width: 156px;
 text-align: justify;
 /* margin-left: 10px; */
  color: #898989;
  font-size: 14px;
}
.q{
 font-size: 14px;
 text-align: justify;
 width: 270px;
}
.justify{
 text-align: justify;
}
#q{
 width: 260px;
}
.mar-top{
 margin-top: 40px;
}
.w{
 color: white;
 font-size: 11px;
}
.row{
 margin-top: 50px;
 margin-bottom: 50px;
}

.news{
width: 210px;

}
input{
color: #898989;
}